.about-page-container {
  max-width: 1800px;
  margin: auto;
}

.about-nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-nav-container-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 33%;
}

.about-nav-container-item p {
  font-size: 32px;
  font-weight: 600;
}

.slash {
  font-size: 240px;
}
