.verify-email-field {
  width: 1500px;
  margin: auto;
  text-align: center;
  padding-top: 400px;
}

.verify-email-field h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

.verify-email-field p {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.verify-email-field input {
  font-size: 72px;
  padding: 12px;
  width: 190px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid #1a90ff;
  color: #1a90ff;
}

.verify-email-field button {
  font-size: 21px;
  color: #fff;
  padding: 12px;
  margin-top: 30px;
  width: 300px;
  background-color: #1a90ff;
  border: none;
  outline: none;
}
