.person-container {
  max-width: 1000px;
  margin: auto;
}

.select-person-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 15px;
}

.select-person-button {
  width: 20%;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(61, 59, 59);
  border: none;
  outline: none;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
}

.select-person-button:hover {
  background-color: rgb(44, 43, 43);
}

.search-person-item-input {
  padding: 12px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(148, 144, 144);
  outline: none;
  border: none;
  background-color: rgb(61, 59, 59);
  width: 630px;
}

.search-person-item-input::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.delete-person-button {
  background-color: #c43333;
  color: rgb(148, 144, 144);
}

.add-person-button {
  background-color: #2baa64;
  color: #fff;
}

.delete-person-button,
.add-person-button {
  font-size: 36px;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 50px;
}
