:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    background-color: #0a0a0a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: transparent;
}

#app {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: transparent;
}